/*  fonts  */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-Light.woff2') format('woff2'),
      url('/fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/GothamPro-LightItalic.woff2') format('woff2'),
      url('/fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Bold.woff2') format('woff2'),
      url('fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.header {
  background:#27273e;
  color: #fff;
  margin-bottom: 397px;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.header__container {  
  position: relative;
  height: 77px;
}
.logo {
  position: absolute;
  top: 13px;
  left: 0;
}
.contacts {
  position: absolute;
  top: 13px;
  right: 0px;
}
.contacts__phone {
  text-decoration: none;
  font-family: 'Gotham Pro', Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  color: #fff;

}
.contacts__schedule {
  font: 14px/1.42 'Open Sans', Helvetica, sans-serif;
   color: #ec1e79;
   opacity: 0.7;
   font-weight: 700;
   position: absolute;
   top: 21px;
   right: 0px;
}
.banner__container {
  position: absolute;
  margin: 0px;
  top: 76px;
}
