.breadcrumbs {
    display: flex;
    margin-right: 74px;
    padding-top: 17px;
    margin-bottom: 26px;
  }

  .breadcrumbs__list {
    display: flex;
    justify-content: center; 
  }
  .breadcrumbs__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px 0 2px;
  }

.breadcrumbs__item:after {
  content: "/";
  color: #221f1f;
  opacity: .8;
  padding-left: 6px;
}
.breadcrumbs__item:last-child:after {
  display: none;
}
.breadcrumbs__item-link {
  opacity: 0.8;
  color: #ec1e79;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  }
.breadcrumbs__item-link--active {
opacity: 0.8;
color: #221f1f;
font-size: 14px;
font-weight: 400;
font-style: italic;
text-decoration: none;
}
