
.contacts__phone {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  display: block;
}
.contacts__schedule {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.contacts__schedule:hover .schedule__menu {
  opacity: 1;
  left: initial;
}
.contacts__schedule:hover .schedule__menu {
    opacity: 1;
    left: initial;
}
.contacts__schedule-text:hover {
  color:#5dd1f8;
}
.contacts__schedule-text {
  color: #ec1e79;
  opacity: 0.7;
  font: 14px/1.42 'Open Sans', Helvetica, sans-serif;
  font-weight: 700;
  padding-left: 83px;;
  padding-bottom: 2%;
}
.contacts__schedule-text--tariffs {
  padding-left: 84px;
}
.contacts__schedule-text:after {
content: "";
display: block;
position: absolute;
width: 100%;
height: 20px;
right: 0;
}


.schedule__menu {
  opacity: 0;
  max-width: 180px;
  position: absolute;
  font-style: normal;
  font-size: 14px;
  background-color: #fff;
  color: black;
  padding: 17px 16px 15px 14px;
  border-radius: 6px;
  left: -9999px;
  top: 28px;
  right: 0;
  z-index: 2;
  box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
  transition: opacity .3s ease-out;
}
.schedule__menu:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -6px;
  right: 5px;
  background-color: #fff;
  transform: rotate(45deg);
}

.schedule__item--work{
  line-height: 18px;
  color: #ec1e79;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
}
.schedule__item--lunch{
  font-weight: 300;
  color: #221f1f;
  line-height: 18px;
  font-size: 14px;
}
