.footer {
  background: #27273e;
  color: #fff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #27273e;
  font: 14px/1.42 'Gotham Pro', Helvetica, sans-serif;
  padding: 13px 0;
}

p.footer__text {
  font-weight: 300;
  width: 265px;
}

a.footer__text {
  color: #fff;
  font-weight: 700;
}

.footer__container--center {
  justify-content: center;
}
.footer__container--right {
  justify-content:flex-end
}