.header {
  background: #27273e;
  margin-bottom: 51px;
  padding: 11px 0px;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-reviews{
  background: #27273e;
  margin-bottom: 36px;
  padding: 11px 0px;
}

.header-reviews__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}