.information {
  background-color: #27273e;
  margin-top: 60px;
}
.information__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1043px;
  height: 174px;
  background-image: url('../../images/pattern.png');
  margin-bottom: 57px;
}
.information__text {
  margin-left: 102px;
  width: 600px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
a.information__text-link {
  color: #ec1e79;
  text-decoration: none;
  font-weight: bold;
}