.information {
  background-color: #27273e;
  margin-top: 54px;
}
.information__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 57px;
}
.information__picture {
 display: flex;
 justify-content: center;
 align-items: center;
}
.information__text {
  color: #ffffff;
  width: 650px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  position: absolute;
  top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
a.information__text-link {
  color: #ec1e79;
  text-decoration: none;
  font-weight: bold;
}