
 .information {
  background: url("../../images/pattern_1.png") #27273e;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding: 23px 11px 33px 10px;
  position: relative;
  display: block;
}

a.information__text-link {
  color: #ec1e79;
  text-decoration: none;
  font-weight: bold;
}
