.news {
  margin-bottom: 18gitpx;
}
.section-title {
  color: #221f1f;
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 57px;
}
.news__items {
 display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.news__item {
display: flex;
margin-bottom: 22px;
line-height: 30px;
border-bottom: 1px solid #f5f5f5;
}
.news__item:last-child {
  border-bottom: none;
}
.news__picture {
  margin-right: 17px;
  margin-top: 12px;
  width: 18%;
}
.news__pic {
max-width: 160px;
border-radius: 50%;
overflow: hidden;
}
.news__image {
 max-width: 100%;
 display: block;
}

.news__desc {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  width: 80%;
}

.news__data {
  color: #656464;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.news__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  /*margin-bottom: 10px;*/
}

.news__text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color:  #656464;
  padding-bottom: 24px;
}