.page {

  width: 95%;
  vertical-align: top;
}
.page__about {
  width: 74%;
  vertical-align: top;
}
.page__tariff {
  width: 75%;
  vertical-align: top;
  margin-bottom: -26px;
}
.page__reviews {
  width: 75%;
  vertical-align: top;
}