.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  font: 14px/1.42 'Roboto', Helvetica, sans-serif;
}

.pagination__display {
  opacity: 0.3;
  font-weight: 300;
  margin-right: 10px;
 display: flex;
 align-items: center;
}

.pagination__controls {
  display: flex;
  align-items: center;
}

.pagination__previous,
.pagination__next {
  font-weight: 300;
  text-decoration: none;
}

.pagination__previous {
  opacity: 0.3;
  margin-right: 10px;
}

.pagination__pages-link {
  text-decoration: none;
  color: #221f1f;
  font-weight: 700;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  display: inline-block;
}

.pagination__pages-list {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.pagination__pages-link--active {
  background-color: #27273e;
  color: #fff;
}
.pagination__pages-link--active1{
  background-color: #27273e;
  color: #ec1e79;
}
