.pagination-reviews {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #221f1f;
font-family: "Gotham Pro";
font-size: 14px;
font-weight: 700;
line-height: 21px;
margin-right: 108px;
}

.pagination-reviews__display {
  opacity: 0.3;
  font-weight: 300;
  margin-right: 24px;
  padding-top: 5px;
}

.pagination-reviews__controls {
  display: flex;
  align-items: center;
}

.pagination-reviews__previous,
.pagination-reviews__next {
  font-weight: 300;
  text-decoration: none;

}

.pagination-reviews__previous {
  opacity: 0.3;
  margin-right: 10px;
}
.pagination-reviews__next {
margin-left: 10px;
}
.pagination-reviews__pages-link {
  text-decoration: none;
  color: #221f1f;
  font-weight: 700;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 3px;
  display: inline-block;
}

.pagination-reviews__pages-list {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.pagination-reviews__pages-link--active {
  background-color: #27273e;
  color: #fff;
}
.pagination-reviews__pages-link--active{
  background-color: #27273e;
  color: #ec1e79;
}
