.sidebar {
  width: 19%;
  padding-top: 4px;
}
.menu__list {
  display: inline-block;
}
.menu__item {
  margin-bottom: 26px;
}

.menu__item:last-child {
  margin-bottom: 0px;
}

.menu__link {
  font: 13px/1.42 'Open Sans', Helvetica, sans-serif;
  letter-spacing: 1.4px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.menu__link:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 24px;
  background: no-repeat center center;
  margin-right: 13px;
}

.menu__link:hover {
  color: black;
}
/* Главная*/
.menu__link--main--icon--active:before {
  background-image: url(../../images/main_icon.png);
}

.menu__link--feed--icon:before {
  background-image: url(../../images/feed_icon.png);
}

.menu__link--wallet--icon:before {
  background-image: url(../../images/wallet_icon.png);
  text-decoration-color: #ec1e79;
}

.menu__link--feed--icon:hover:before {
  background-image: url('../../images/feed_icon_black.png');
}

.menu__link--wallet--icon:hover:before {
  background-image: url('../../images/wallet_icon_black.png');
}

.menu__link--main--icon {
  color: black;
  text-decoration-line: underline;
}

.menu__link--wallet--icon {
  color: #ec1e79;
}

.menu__link--feed--icon {
  color: #ec1e79;
}

/* feetback */

.menu__link--main--icon:before {
  background-image: url(../../images/main_icon_pink.png);
}

.menu__link--feed--icon--active:before {
  background-image: url(../../images/feed_icon_black.png);
}

.menu__link--wallet--icon:before {
  background-image: url(../../images/wallet_icon.png);
  text-decoration-color: #ec1e79;
}
.menu__link--main--icon:hover:before {
  background-image: url('../../images/main_icon.png');
}
.menu__link--feed--icon:hover:before {
  background-image: url('../../images/feed_icon_black.png');
}

.menu__link--wallet--icon:hover:before {
  background-image: url('../../images/wallet_icon_black.png');
}

.menu__link--main--icon {
  color:  #ec1e79;
  text-decoration-line: none;
}

.menu__link--wallet--icon {
  color: #ec1e79;
}

.menu__link--feed--icon {
  color:  #ec1e79;
}

/* Тарифы */
.menu__link--main--icon:before {
  background-image: url(../../images/main_icon_pink.png);
}

.menu__link--feed--icon:before {
  background-image: url(../../images/feed_icon.png);
}

.menu__link--wallet--icon--active:before {
  background-image: url(../../images/wallet_icon_black.png);
  text-decoration-color: #ec1e79;
}
.menu__link--main--icon:hover:before {
  background-image: url('../../images/main_icon.png');
}
.menu__link--feed--icon:hover:before {
  background-image: url('../../images/feed_icon_black.png');
}

.menu__link--wallet--icon:hover:before {
  background-image: url('../../images/wallet_icon_black.png');
}