
h1.tariff__title-h1 {
  color: #221f1f;
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 43px;
}
.tariff__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 11px;
  justify-content: space-between;
  
}
.tariff__item {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 47px;
  display: inline-block;
}
.tariff__pic {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.tariff__pic:before {
content: "";
position: absolute;
display: block;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: url('../../images/overlay_1.png') no-repeat no-repeat;
}
.tariff__title-text {
position: absolute;
color: #5dd1f8;
font-size: 24px;
font-weight: 700;
line-height: 34px;
text-transform: uppercase;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.colortext {
  color: #ec1e79;
}
.tariff__title-text--size {
  width: 173px;
}
.tariff__deck {
  text-align: center;
}
.tariff_price {
font-size: 18px;
font-weight: 700;
margin-bottom: 10px;
}
.tariff__text {
color: #221f1f;
font-size: 14px;
font-weight: 300;
line-height: 21px;
}