.welcome__content {
  display: flex;
  flex-direction: column;
  animation: screw .7s .7s;
  text-decoration: none;
  color: #ec1e79;
  transition: .3s;
}
.welcome__content:hover .welcome__link{
  background: #ec1e79;
  border: none;
  color: #fff;
  }
.welcome__logo {
margin-bottom: 29px;
display: block;
width: 100%;
}

.welcome__link {
border: 3px solid currentColor;
padding: 17px 23px 16px 22px;
font-size: 12px;
font-weight: 700;
color: currentColor;
text-transform: uppercase;
letter-spacing: 1.2px;
text-decoration: none;
}

@keyframes screw {
0% {
  opacity: 0;
  transform: scale(.2) rotate(30deg);
}

40% {
  transform: rotate(-20deg);
}

60% {
  transform: rotate(3deg);
}

80% {
  transform: scale(1);
}

100% {
  opacity: 1;
}
}